{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>{% if object %}Editar Incidencia{% else %}Reportar Nueva Incidencia{% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% include "core/_form.html" %}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                {% if object %}Guardar Cambios{% else %}Enviar Incidencia{% endif %}
                            </button>
                            <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
